<nav class="sidemenu">
  <ul>
    <li>
      <img src="../../../assets/images/logo.png" alt="" width="40px">
      <span class="logo">Crud Users</span>
    </li>
    <li routerLink="/home"><mat-icon>home</mat-icon>Home</li>
    <li routerLink="/usuarios"><mat-icon>person_add</mat-icon>Cadastrar Usuário</li>
    <a href="https://firebase.google.com/?gad_source=1&gclid=Cj0KCQjwjLGyBhCYARIsAPqTz196dVjy7UBK7UkoCtuCx1kMEtBX83r43XB_OC_F5a_jLNclTMsLL3UaAgTqEALw_wcB&gclsrc=aw.ds&hl=pt-br" target="_blank"><li><mat-icon>local_fire_department</mat-icon>Firebase</li></a>
    <a href="https://angular.dev/" target="_blank"><li><mat-icon>description</mat-icon>Angular</li></a>
    <li routerLink="/login" class="logout"><mat-icon>logout</mat-icon>Sair</li>
  </ul>
</nav>
